@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.garden-intro.view {
  background-image: url("http://192.168.56.1:5000/images/garden/intro-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.garden-intro h1 {
  font-family: 'Lobster', cursive;
  font-size: 5rem;
}

.garden-nav .navbar-brand {
  font-family: 'Lobster', cursive;
}

.list-group-item {
  cursor: pointer;
}