#app .view {
  background-image: url("http://192.168.56.1:5000/images/portfolio/intro-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#app .mask {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3),
    rgba(29, 210, 177, 0.1) 100%
  );
  
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.3), rgba(29, 210, 177, 0.1) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3),
    rgba(29, 210, 177, 0.1) 100%
  );
}

#app h5 {
  line-height: 1.7;
}

#app .skills h3 {
  line-height: 1.7;
}

#app .skills h6 {
  line-height: 1.7;
  text-indent: 0.5rem;
}

#app .skills h6 i {
  color: #2BBBAD;
}

#app .navbar-brand .white-text {
  cursor: default;
}

@media (max-width: 768px) {
  #app .navbar:not(.top-nav-collapse) {
    background: #2BBBAD !important;
  }

  #app .view .mask {
    padding-top: 100px;
  }
}